<!DOCTYPE html>
<html >

<head>
  <meta charset="UTF-8">
  <title>PredFinance</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<style>
  body {
    background-image: url('https://cdn.smartbrief.com/sites/default/files/styles/originals_full_summary_banner_style/public/original-content/AdobeStock_331489342.jpeg?itok=XNIuVH4y');
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode:lighten;
  }
  form{
    margin: auto;
    padding: 5px;
    border: aquamarine;
    background-color: aquamarine;
    display: block;
    justify-items: center;
  }
  h1{
    background-color: aliceblue;
  }
  </style>
</head>

<body>
 <div class="login">
	<h1>Prediction of Finance</h1>
     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="text" name="Equity_Market" placeholder="Equity Market" required="required" /><br><br>
        <input type="text" name="age" placeholder="Age" required="required" /><br><br>
        <button type="submit" class="btn">Predict</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>